In [2]:
import pandas as pd

In [3]:

ratings = pd.read_csv(r'C:\Users\caronte\Documents\Python_Scripts\ratings.csv')

r_cols = ['user_id', 'movie_id', 'rating']
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
movies = pd.read_csv(r'C:\Users\caronte\Documents\Python_Scripts\movies.csv')

m_cols = ['movie_id', 'title']
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
# combinamos ambos datasets para tener el 
# usuario, la pelicula, la puntuacion que asign√≥ y el titulo
ratings = pd.merge(movies, ratings)
ratings.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0,851866703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0,938629179
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0,1331380058
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.0,997938310
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0,855190091

In [6]:
# Pivotamos esta tabla para crear una matriz que tiene 
# una fila por cada usuario
# una columna por cada pelicula
# en la celda que se cruzan esta la puntuacion que le dio, si es que la valor√≥
movieRatings = ratings.pivot_table(index=['userId'],columns=['title'],values='rating')
movieRatings.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¬°Three Amigos! (1986),√Ä nous la libert√© (Freedom for Us) (1931),ƒ∞tirazƒ±m Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
toyStoryRatings = movieRatings['Toy Story (1995)']
 
# Correlamos el resto de peliculas (columnas) con la seleccionada (toy story)
similarMovies = movieRatings.corrwith(toyStoryRatings)
similarMovies = similarMovies.dropna()
df = pd.DataFrame(similarMovies)
 
# Las ordenamos por el valor de score que hemos generado, de forma descendente
similarMovies.sort_values(ascending=False)

C:\Users\caronte\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3175: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\caronte\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3109: RuntimeWarning: divide by zero encountered in double_scalars
  c *= 1. / np.float64(fact)

title
Case 39 (2009)                                                           1.0
Toy, The (1982)                                                          1.0
Chocolate (2008)                                                         1.0
Anne of Green Gables: The Sequel (a.k.a. Anne of Avonlea) (1987)         1.0
Mixed Nuts (1994)                                                        1.0
Gigli (2003)                                                             1.0
Before Midnight (2013)                                                   1.0
Animal Kingdom (2010)                                                    1.0
Lilya 4-Ever (Lilja 4-ever) (2002)                                       1.0
Lady Snowblood (Shurayukihime) (1973)                                    1.0
Carmen (1983)                                                            1.0
Toy Story (1995)                                                         1.0
Light of Day (1987)                                                      1.0
Birth of a Nation, The (1915)                                            1.0
Girls Just Want to Have Fun (1985)                                       1.0
Flawless (1999)                                                          1.0
Moscow on the Hudson (1984)                                              1.0
Lovers on the Bridge, The (Amants du Pont-Neuf, Les) (1991)              1.0
Invictus (2009)                                                          1.0
Warcraft (2016)                                                          1.0
Devil's Rejects, The (2005)                                              1.0
Broken Hearts Club, The (2000)                                           1.0
The Huntsman Winter's War (2016)                                         1.0
Ocean's Eleven (a.k.a. Ocean's 11) (1960)                                1.0
Leviathan (1989)                                                         1.0
And God Created Woman (1988)                                             1.0
Faces of Death (1978)                                                    1.0
Baadasssss! (How to Get the Man's Foot Outta Your Ass) (2003)            1.0
Something Wicked This Way Comes (1983)                                   1.0
Top Five (2014)                                                          1.0
                                                                        ...
Herbie: Fully Loaded (2005)                                             -1.0
Straw Dogs (1971)                                                       -1.0
We're the Millers (2013)                                                -1.0
Louis C.K.: Oh My God (2013)                                            -1.0
Outland (1981)                                                          -1.0
Kill List (2011)                                                        -1.0
Love Guru, The (2008)                                                   -1.0
High School Musical 2 (2007)                                            -1.0
Million Dollar Arm (2014)                                               -1.0
Million Dollar Hotel, The (2001)                                        -1.0
Fritz the Cat (1972)                                                    -1.0
Walking and Talking (1996)                                              -1.0
Coach Carter (2005)                                                     -1.0
Bad Company (2002)                                                      -1.0
Code Unknown (Code inconnu: R√©cit incomplet de divers voyages) (2000)   -1.0
Little Monsters (1989)                                                  -1.0
Epic (2013)                                                             -1.0
Jerky Boys, The (1995)                                                  -1.0
Veronica Mars (2014)                                                    -1.0
Synecdoche, New York (2008)                                             -1.0
Goon (2011)                                                             -1.0
District 13 (Banlieue 13) (2004)                                        -1.0
Locke (2013)                                                            -1.0
After the Sunset (2004)                                                 -1.0
Savages (2012)                                                          -1.0
Saving Grace (2000)                                                     -1.0
Swamp Thing (1982)                                                      -1.0
Brother's Keeper (1992)                                                 -1.0
Mr. Magorium's Wonder Emporium (2007)                                   -1.0
Great White Hype, The (1996)                                            -1.0
Length: 4709, dtype: float64

In [15]:
import numpy as np
# agregamos por titulo y devolvemos el 
# numero de veces que se puntuo, y la media de puntuacion

movieStats = ratings.groupby('title').agg({'rating': [np.size, np.mean]})


# nos quedamos con todas las que tengan mas de 100 puntuaciones 
# de distintos usuarios

#popularMovies =[movieStats.size>=100][ratings]
MovieStats[MovieStats.size>=100][rating]


 
# ordenamos por la puntuaci√≥n asignada
movieStats[popularMovies].sort_values([('rating', 'mean')], ascending=False)[:15]

NameError: name 'MovieStats' is not defined